@model IEnumerable<G2_Proyecto_SC601.Models.Provincium>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Provincias</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Agregar provincia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Ver Datos</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
